<div class="base  d-flex justify-content-center align-items-center  bg-danger">
    <div class="container bg-info p-4 rounded">
    
        <div class="d-flex  justify-content-between align-items-center ">
            <div>
<h2>add order </h2>
            </div>
            <div>
<span><i class="fa-solid fa-circle-xmark"></i></span>
            </div>
        </div> 
        <div class="d-flex justify-content-center align-items-center  ">
            <div class="text-center w-100">
              <hr>
            </div>
          </div>
<div>
    <label for="">Select Type</label>
    <select class="form-select form-select-lg my-3" aria-label=".form-select-lg example">
        <option value="1" selected>Trip</option>
        <option value="2">Shipment</option>
      </select>
</div>





<div>

    <label for=""> From: </label>

    <div class="d-flex justify-content-center align-items-center">
        <select class="form-select form-select-lg my-3" aria-label=".form-select-lg example">
        <option value="1" selected>Trip</option>
        <option value="2">Shipment</option>
      </select>

      <select class="form-select form-select-lg m-3" aria-label=".form-select-lg example">
        <option value="1" selected>Trip</option>
        <option value="2">Shipment</option>
      </select>
    </div>
</div>


<div>

    <label for=""> To: </label>

    <div class="d-flex justify-content-center align-items-center">
        <select class="form-select form-select-lg my-3" aria-label=".form-select-lg example">
        <option value="1" selected>Trip</option>
        <option value="2">Shipment</option>
      </select>

      <select class="form-select form-select-lg m-3" aria-label=".form-select-lg example">
        <option value="1" selected>Trip</option>
        <option value="2">Shipment</option>
      </select>
    </div>
</div>

<label for=""> Arrival Time: </label>

<select class="form-select form-select-lg my-3 w-50" aria-label=".form-select-lg example">
    <option value="1" selected>Trip</option>
    <option value="2">Shipment</option>
  </select> 

  <label for=""> Available Kg: </label>

<input class="form-control form-control-lg my-3 w-50"  >
 
<button class="btn  addBtn py-2 px-5 m-3 rounded-pill"  >Continue </button>

    </div>
</div>