<div class="container-fluid  ">
    <div class="row ">
      <div class="col-md-6 d-flex flex-column justify-content-center ">
    
        <div class="container  d-flex align-items-center justify-content-center ">
          <div class="col-md-6">
            <h2 class="py-5 ">Reset password</h2>
  
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetpassword(resetPasswordForm)">
            
  

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail1 samll-text">New Password</label>
                  <div class="input-group position-relative 
                               ">
                    <input type="password" class="form-control  bg-transparent my-3" formControlName="password" id="inputEmail1"
                      placeholder="Enter your password">
                   
                  </div>
                </div>
              </div>
  
           
              <div class="form-group col-md-12">
                <div class="input-group position-relative">
                  <!-- Bind sharedMail to the email form control without allowing user input -->
                  <input class="form-control bg-transparent my-3" id="inputEmail1"
                         placeholder="Enter your email address" formControlName="email" [(ngModel)]="sharedMail"  hidden>
                </div>
              </div>
              
              
              <div class="form-group col-md-12">
                <div class="input-group position-relative">
                  <!-- Bind sharedMail to the email form control without allowing user input -->
                  <input class="form-control bg-transparent my-3" id="inputEmail1"
                         placeholder="Enter your email address" formControlName="token" [(ngModel)]="token"  hidden>
                </div>
              </div>
              
              <div class="form-row ">
                <div class="form-group col-md-12 text-center">
                  <button type="submit" class="btn my-4 w-100">Reset Password</button>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12 text-center link">
                  <span routerLink="/signin">Back to Sign In</span>
                </div>
              </div>
  
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="backkground"></div>
      </div>
    </div>
  </div>