
*{
    padding: 0px;
    margin: 0px;
box-sizing: border-box;
}
.smallTxt{
    color: #909090;
    font-size: 15px;
}
.bigTxt{
    font-size: 25px;
}
.boxShadow{
    box-shadow: 1.5px 1.5px 1px 1.5px #F8F8F8;

    background-color: white;

}

.maincolor{
    background-color: #050A24;
    color: white;
}
.maincolor i{
    font-size: 25px;
}