
    <div class="row m-0 ">
        <div class="col-md-2">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-9 py-2  px-5  ">
      <app-search></app-search>
      <div class="row py-5 justify-content-between">

<div class="d-flex justify-content-around align-items-center">
    <p class="bigTxt fw-bold py-5"> Hi,Ann </p>
<p class="bigTxt  fw-bold">Recent</p>
<p class="">Clear All</p>
</div>     
 
<div class="col-md-5  boxShadow rounded-1">

<div class="d-flex justify-content-between align-items-center text-center py-5 px-5">
<div > 
    <img src="../../../assets/Frame 1000003179.png" class="w-75 " alt="">
    <p class="smallTxt">All orders</p>
    <p class="bigTxt fw-bold">200</p>
</div>

<div> 
    <img src="../../../assets/Frame 1000003179 (1).png "class="w-75" alt="">
    <p class="smallTxt">All Shipments</p>
    <p class="bigTxt fw-bold">200</p>
</div>

</div>
        </div>
        <div class="col-md-5 boxShadow rounded-1">
<div>
   <div class="d-flex justify-content-between m-3 " >
    <img src="../../../assets/Icon.png" alt="">

    <p>Your Shipping Already Delivered <br><span class="smallTxt">Tap to  see the detail shipping</span> </p>
    <p class="smallTxt">2 m ago</p>
   </div>
   <div class="d-flex justify-content-between m-3 " >
    <img src="../../../assets/Icon.png" alt="">

    <p>Your Shipping Already Delivered <br><span class="smallTxt">Tap to  see the detail shipping</span> </p>
    <p class="smallTxt">2 m ago</p>
   </div>
   <div class="d-flex justify-content-center align-items-center">
    <div class="text-center w-75">
      <hr>
    </div>
  </div>
  <div class="d-flex justify-content-between m-3 " >
    <img src="../../../assets/Icon (1).png" alt="">

    <p>Try The Latest Service From Tracky! <br><span class="smallTxt">Let’s try the feature we provide</span> </p>
    <p class="smallTxt">2 m ago</p>
   </div>
   <div class="d-flex justify-content-between m-3 " >
    <img src="../../../assets/Icon (1).png" alt="">

    <p>Try The Latest Service From Tracky! <br><span class="smallTxt">Let’s try the feature we provide</span> </p>
    <p class="smallTxt">2 m ago</p>
   </div>

</div>
       
                    </div>
      </div>


<div class="row py-5 justify-content-between">
  <p class="bigTxt fw-bold py-5">Incoming Order </p>

    <div class="col-md-5 boxShadow rounded-1">
<div class="row ">
    <div class="col-md-1 maincolor d-flex p-3 align-items-center justify-content-center">
     
        <i class="fa-regular fa-clipboard px-1 "></i>
    </div>
    <div class="col-md-10 ">
<div class=" d-flex justify-content-between align-items-center  p-2">
<h2 class="p-2 smallTxt ">Date / Time</h2>
<p class="p-2 "><span>:</span> 29 Dec 2021  12:05</p>
</div>
  <div class="d-flex justify-content-center align-items-center  ">
    <div class="text-center w-75">
      <hr>
    </div>
  </div>
<div class=" d-flex justify-content-between align-items-center  p-2">
    <h2 class="p-2 smallTxt ">Order ID</h2>
    <p class="p-2 "><span>:</span> #ORD5638</p>
    </div>
    <div class="d-flex justify-content-center align-items-center  ">
        <div class="text-center w-75">
          <hr>
        </div>
      </div>
    <div class=" d-flex justify-content-between align-items-center  p-2">
        <h2 class="p-2 smallTxt ">Status</h2>
        <p class="p-2 "><span>:</span> On Progress</p>
        </div>


        
    </div>
</div>
    </div>
  
        
                
            </div>
        </div>
            </div>

















      