*{
    padding: 0px;
    margin: 0px;
box-sizing: border-box;
}
.addBtn{
    background-color: #007DFA;
    color: white;
}

.boxShadow{
    box-shadow: 1.5px 1.5px 1px 1.5px #F8F8F8;
    background-color: white;

}