<div class="side-nav-menu min-vh-100 position-fixed d-flex top-0    Navbg">
    <div class="nav-tab  d-flex flex-column justify-content-between min-vh-100 p-4">
        <h1 class=" text-center Main_Tittle"> Musafer </h1>

        <div class="links">
            <ul class="list-unstyled">
              <!-- <div class="py-3"><li  class="py-2 Text_color  " routerLink="/home" routerLinkActive="activeLink"  ><i class="fa-solid fa-house-user px-1 fa-1x"></i> Home</li></div>   -->
              <div class="py-3"> <li  class="py-2 Text_color  " routerLink="/Orders" routerLinkActive="activeLink"> <i class="fa-solid fa-cube px-1 fa-1x"></i> Home</li></div> 
              <div class="py-3"> <li  class="py-2 Text_color  " routerLink="/myTrip" routerLinkActive="activeLink"> <i class="fa-solid fa-cube px-1 fa-1x"></i> My Trip</li></div>
              <div class="py-3"> <li  class="py-2 Text_color  " routerLink="/Deals" routerLinkActive="activeLink"> <i class="fa-solid fa-handshake-simple px-1 fa-1x"></i> Deals</li></div> 
              <div class="py-3"> <li  class="py-2 Text_color  " routerLink="/myShipment" routerLinkActive="activeLink"> <i class="fa-solid fa-handshake-simple px-1 fa-1x"></i> My Shipment </li></div>
              <div class="py-3">   <li  class="py-2 Text_color  "><i class="fa-regular fa-comment px-1 fa-1x" routerLinkActive="activeLink"></i> Massages</li></div>
                <div class="py-3">   <li  class="py-2 Text_color  "><i class="fa-solid fa-gear px-1 fa-1x" routerLinkActive="activeLink"></i>Setting</li></div>

            </ul>
        </div>
        <div class="nav-footer">
                <a (click)="logOut()"><i class="fa-solid fa-arrow-right-from-bracket px-1 fa-1x "></i> Logout</a>
        
        </div>
    </div>
   
</div>

