
.backkground{
    background-image: url(./../../../assets/Landing.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;

}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.form-control {
    border: 2px solid #E0EFFE !important; /* Set bottom border to black */
  }
  
.form-row button{
    background-color: #007DFA;
    border-color: #007DFA;
    color: #fff;
}

.samll-text{
    font-size: 16px;
    color: #5A5A5D;
}
.form-row  span{
    color: #007DFA;
    cursor: pointer;
}